// Colors
$background-color: #ebebeb;
$meli-yellow: #ffe600;
$meli-white: #fff;
$meli-black: #000;
$meli-blue: #3483fa;

// Fonts
$font-family-base: "Helvetica Neue", helvetica, roboto, arial, sans-serif;
